

}
.dropdown-menu {
    width: 100% !important;
    text-align: center;
    
}


.content{
    background-color: grey;
    text-align: center;
    margin: 10px;

}

p{
    text-align: left;
    padding: 10px;
}
@media (max-width: 767px){
#humburger{
    display: visible;
}
}

@media (min-width: 768px){
#humburger{
    display: none;
}
}